{% extends 'layout.html' %}

{% load static %}

{% block css %}
    <style>
        .sel_obj {

        }
    </style>
{% endblock %}

{% block contend %}
    <div>
        <div class="row">
            <div class="col-md-9">
                <div class="card">
                    <div class="card-body px-4">
                        <nav class="mt-3 mb-4" style="--bs-breadcrumb-divider: '>';font-size: 2.5rem"
                             aria-label="breadcrumb">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item">{{ request.session.info.name }}</li>
                                <li class="breadcrumb-item active" aria-current="page">监测任务</li>
                            </ol>
                        </nav>
                        <hr>
                        <div class="text-center my-3" style="font-size: 2.5rem;color: black">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                 class="bi bi-camera-video" viewBox="0 0 16 16">
                                <path fill-rule="evenodd"
                                      d="M0 5a2 2 0 0 1 2-2h7.5a2 2 0 0 1 1.983 1.738l3.11-1.382A1 1 0 0 1 16 4.269v7.462a1 1 0 0 1-1.406.913l-3.111-1.382A2 2 0 0 1 9.5 13H2a2 2 0 0 1-2-2V5zm11.5 5.175 3.5 1.556V4.269l-3.5 1.556v4.35zM2 4a1 1 0 0 0-1 1v6a1 1 0 0 0 1 1h7.5a1 1 0 0 0 1-1V5a1 1 0 0 0-1-1H2z"/>
                            </svg>
                            {{ detect_set.folder_name }}</div>

                        <div class="card in_disabled">
                            <div class="card-header">
                                <nav class="py-1"
                                     style="--bs-breadcrumb-divider: '>';font-size: 1rem;display: inline-block"
                                     aria-label="breadcrumb">
                                    <ol class="breadcrumb" style="margin-bottom: 0">
                                        <li class="breadcrumb-item">{{ request.session.info.name }}</li>
                                        <li class="breadcrumb-item">监测任务</li>
                                        <li class="breadcrumb-item active"
                                            aria-current="page">{{ detect_set.folder_name }}</li>
                                    </ol>
                                </nav>
                                <div style="width: 10rem;display: inline-block"></div>
                                <div class="justify-content-center align-content-center" style="display: inline-block">
                                    <span class="mx-3" style="font-size: .8rem;color: green">当前监测模型:</span>
                                    <span style="font-size: .8rem;color: grey">{{ model_name }}</span>
                                </div>

                                <div class="" style="float: right;">
                                    <button type="button" style="" class="btn btn-success btn-sm"
                                            id="btn_go_detect">开始监测
                                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                                             fill="currentColor" class="bi bi-play-fill" viewBox="0 0 16 16">
                                            <path d="m11.596 8.697-6.363 3.692c-.54.313-1.233-.066-1.233-.697V4.308c0-.63.692-1.01 1.233-.696l6.363 3.692a.802.802 0 0 1 0 1.393z"/>
                                        </svg>
                                    </button>
                                    <button type="button" style="" class="btn btn-danger btn-sm"
                                            id="btn_stop_detect">停止监测
                                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                                             fill="currentColor" class="bi bi-pause-fill" viewBox="0 0 16 16">
                                            <path d="M5.5 3.5A1.5 1.5 0 0 1 7 5v6a1.5 1.5 0 0 1-3 0V5a1.5 1.5 0 0 1 1.5-1.5zm5 0A1.5 1.5 0 0 1 12 5v6a1.5 1.5 0 0 1-3 0V5a1.5 1.5 0 0 1 1.5-1.5z"/>
                                        </svg>
                                    </button>
                                    <button type="button" style="" class="btn btn-primary btn-sm"
                                            id="btn_reload">刷新
                                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                                             fill="currentColor" class="bi bi-arrow-clockwise" viewBox="0 0 16 16">
                                            <path fill-rule="evenodd"
                                                  d="M8 3a5 5 0 1 0 4.546 2.914.5.5 0 0 1 .908-.417A6 6 0 1 1 8 2v1z"/>
                                            <path d="M8 4.466V.534a.25.25 0 0 1 .41-.192l2.36 1.966c.12.1.12.284 0 .384L8.41 4.658A.25.25 0 0 1 8 4.466z"/>
                                        </svg>
                                    </button>
                                </div>

                            </div>
                            <div class="card-body">
                                <div style="background-color: #F4F4F4">
                                    <div class="row mb-2">
                                        <div class="col-8">
                                            <div class="card">
                                                <img id="pre_camera_img" src="{% static 'img/Not Found Camera.png' %}" alt="点击开始监测连接摄像头"
                                                     style="max-width: 100%;height: auto">
                                            </div>
                                        </div>

                                        <!-- 总信息 -->
                                        <div class="col-4">
                                            <div class="card" style="height: 450px">
                                                <div class="card-header text-center">
                                                    <h5>历史数据</h5>
                                                </div>
                                                <div class="card-body container overflow-y-scroll">
                                                    <table class="table table-hover text-center">
                                                        <thead>
                                                        <tr>
                                                            <th scope="col">ID</th>
                                                            <th scope="col">类别</th>
                                                            <th scope="col">数量</th>
                                                        </tr>
                                                        </thead>
                                                        <tbody id="table_tb">
                                                        {#                                                    <tr class="tr_search_click">#}
                                                        {#                                                        <th scope="row">#}
                                                        {#                                                            ID#}
                                                        {#                                                        </th>#}
                                                        {#                                                        <th scope="row">{{ list.0 }}</th>#}
                                                        {#                                                        <td>{{ list.1 }}</td>#}
                                                        {#                                                    </tr>#}
                                                        </tbody>
                                                    </table>
                                                </div>

                                            </div>

                                        </div>
                                    </div>
                                    <div class="card" style="height: 25rem;">
                                        <div class="mt-3" id='charts_detect' style="width: 100%; height: 25rem"></div>
                                    </div>

                                </div>
                                <div style="height: 2.5rem;">
                                    <div class="card" id="delete_card"
                                         style="position: absolute; display: inline-block;
                                         right: 1rem;bottom: .5rem;background-color: #D9D9D9">
                                        <button type="button" class="btn btn-secondary btn-sm mx-2 my-1"
                                                id="btn_cancel">取 消
                                        </button>
                                        <button type="button" class="btn btn-danger btn-sm mx-2 my-1" id="btn_delete">删
                                            除
                                        </button>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>

                </div>
            </div>
            <div class="col-md-3">
                <div class="card">
                    <div class="card-header text-center" style="font-size: 1.5rem">监测集目录</div>
                    <div class="card-body">
                        <nav class="nav nav_black_grey flex-column">
                            <a class="nav-link disabled"
                               style="color: black; font-size: 1.3rem">{{ request.session.info.name }}的图片集:</a>
                            {% for obj in detect_all_set %}
                                {% if obj.type == 1 %}
                                    <a class="nav-link" href="/yolo/set/{{ obj.id }}/img/">- {{ obj.folder_name }}</a>
                                {% endif %}
                            {% endfor %}
                        </nav>
                        <hr>
                        <nav class="nav nav_black_grey flex-column">
                            <a class="nav-link disabled"
                               style="color: black; font-size: 1.3rem">{{ request.session.info.name }}的视频集:</a>
                            {% for obj in detect_all_set %}
                                {% if obj.type == 2 %}
                                    <a class="nav-link" href="/yolo/set/{{ obj.id }}/video/">- {{ obj.folder_name }}</a>
                                {% endif %}
                            {% endfor %}
                        </nav>
                        <hr>
                        <nav class="nav nav_black_grey flex-column">
                            <a class="nav-link disabled"
                               style="color: black; font-size: 1.3rem">{{ request.session.info.name }}的监测任务:</a>
                            {% for obj in detect_all_set %}
                                {% if obj.type == 3 %}
                                    <a class="nav-link"
                                       href="/yolo/set/{{ obj.id }}/realtime/">- {{ obj.folder_name }}</a>
                                {% endif %}
                            {% endfor %}
                        </nav>
                        <hr>
                        <div class="text-center">
                            <button type="button" class="btn btn-danger" id="btn_delete_set">删除该任务</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- 弹窗1: 删除集合 -->
    <div class="modal fade" id="deleteSetModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="alert alert-danger m-0" role="alert">
                    <h4 class="alert-heading">删除</h4>
                    <p>是否确定删除此集合: <span style="font-size: 1.4rem">{{ detect_set.folder_name }}</span></p>
                    <hr>
                    <p class="mb-0" style="text-align: right">
                        <button type="button" class="btn btn-light mx-2" data-bs-dismiss="modal">取 消</button>
                        <button type="button" class="btn btn-danger" id="btn_in_delete_set">删 除</button>
                    </p>
                </div>
            </div>
        </div>
    </div>

{% endblock %}

{% block js %}
    <script src="{% static 'js/echarts.js' %}"></script>
    <script type="text/javascript">
        var SET_ID
        var camera_configure = {
            'camera_id': 0,
            'is_track': 'False',
            'is_line': 'False',
            'is_all': 'False',
            'sel_type_list': [],
            'pt1_pt2': [],
        }
        var ws
        var detected_list = {}
        var START_REFRESH = 0
        var DETECTED_NOW = {}

        // 图表
        var OPTION
        var myChart
        var now_time
        var data_list = {}
        var data_time = []
        var IntervalId


        $("#btn_cancel").hide()
        $("#btn_delete").hide()
        $("#btn_reload").hide()
        $("#btn_stop_detect").hide()

        $(function () {
            GetCameraConf();

            CreateChart();

            BindGoDetect();

            BindStopDetect();

            BindDeleteSet();

            BindInDeleteSet();

            BindReload();
        })

        // 初始化摄像头设置
        function GetCameraConf() {
            SET_ID = {{ detect_set.id }}
            camera_configure.camera_id = {{ camera_conf.camera_id }}
            camera_configure.is_track = '{{ camera_conf.is_track }}'
            camera_configure.is_line = '{{ camera_conf.is_line }}'
            camera_configure.is_all = '{{ camera_conf.is_all }}'
            if (camera_configure.is_track === 'True') {
                camera_configure.pt1_pt2 = JSON.parse('{{ camera_conf.json_xyxy|escapejs }}')
            }
            if (camera_configure.is_all === 'False') {
                camera_configure.sel_type_list = JSON.parse('{{ camera_conf.json_type_list|escapejs }}')
            }
            console.log(camera_configure)
        }

        function CreateChart() {
            myChart = echarts.init(document.getElementById('charts_detect'));
            OPTION = {
                title: {
                    text: '实时数据',
                    left: "center",
                    textStyle: {
                        fontSize: 30
                    },
                },
                legend: {
                    data: [],
                    bottom: "5%",
                },
                tooltip: {
                    trigger: 'axis',
                },
                xAxis: {
                    type: 'category',
                    splitLine: {
                        show: false
                    }
                },
                yAxis: {
                    type: 'value',
                    boundaryGap: [0, '100%'],
                    splitLine: {
                        show: false
                    }
                },
                series: []
            };
            myChart.setOption(OPTION)
        }

        function SetDataEverySec() {
            if (START_REFRESH === 1) {
                now_time = new Date()
                IntervalId = setInterval(function () {
                    // 设置总数据
                    console.log('refreshed')
                    const entries = Object.entries(detected_list);
                    entries.sort((a, b) => b[1] - a[1]);
                    var html_tr = ''
                    $.each(entries, function (index, obj) {
                        html_one = '<tr><th scope="row">' + (index + 1) + '</th><th scope="row">' + obj[0] + '</th><td>' + obj[1] + '</td></tr>'
                        html_tr += html_one
                    })
                    $("#table_tb").empty().html(html_tr)

                    // 设置折线图
                    function getdata(key_value) {
                        return {
                            name: now_time.toString(),
                            value: [
                                [now_time.getHours(), now_time.getMinutes() + 1, now_time.getSeconds()].join(':'),
                                Math.round(key_value)
                            ]
                        };
                    }

                    var series_set = []
                    now_time = new Date(+now_time + 2000);
                    var is_dispose = 0
                    // 获取当前X轴
                    if (data_time.length === 15) {
                        data_time.shift()
                    }
                    data_time.push([now_time.getHours(), now_time.getMinutes() + 1, now_time.getSeconds()].join(':'))
                    console.log(data_time)
                    // 增加当前有的数据
                    $.each(DETECTED_NOW, function (key, value) {
                        if (key in data_list) {
                            if (data_list[key].length === 15) {
                                data_list[key].shift()
                            }
                            data_list[key].push(getdata(value))
                        } else {
                            is_dispose = 1
                            data_list[key] = []
                            data_list[key].push(getdata(value))
                        }
                    })

                    var data_name = []
                    // 当前没有的数据设置为0，data数据设置进series
                    $.each(data_list, function (key) {
                        // 设置已消失物体数量为0
                        if (key in DETECTED_NOW) {

                        } else {
                            if (data_list[key].length === 15) {
                                data_list[key].shift()
                            }
                            data_list[key].push(getdata(0))
                        }
                        // 如果要删除
                        if (is_dispose === 1) {
                            data_name.push(key)
                            series_set.push({
                                name: key,
                                type: 'line',
                                showSymbol: true,
                                data: data_list[key],
                                endLabel: {
                                    show: true,
                                    formatter: function (params) {
                                        return params.seriesName + ': ' + params.value[1];
                                    }
                                },
                            })
                        } else {
                            series_set.push({
                                name: key,
                                data: data_list[key]
                            })
                        }

                    })
                    console.log(series_set)
                    if (is_dispose === 1) {
                        if (myChart) {
                            console.log('dispose!!!!')
                            myChart.dispose();
                        }
                        myChart = echarts.init(document.getElementById('charts_detect'));
                        OPTION.series = series_set
                        OPTION.legend.data = data_name
                        OPTION.xAxis.data = data_time
                        myChart.setOption(OPTION)
                    } else {
                        console.log('no dispose!!!!')
                        myChart.setOption({
                            series: series_set,
                            xAxis: {
                                data: data_time
                            }
                        });
                    }


                }, 2000)
            }

        }


        function BindGoDetect() {
            $("#btn_go_detect").click(function () {
                $("#btn_stop_detect").show()
                $("#btn_go_detect").hide()
                START_REFRESH = 1
                SetDataEverySec()
                navigator.mediaDevices.enumerateDevices()
                    .then(function (devices) {
                        // 获取所有的视频输入设备
                        const videoDevices = devices.filter(device => device.kind === 'videoinput');
                        // 如果至少有一个视频设备可用
                        if (videoDevices.length > 0 && camera_configure.camera_id >= 0 && camera_configure.camera_id < videoDevices.length) {
                            // 确保用户选择了有效的设备
                            const selectedDeviceId = videoDevices[camera_configure.camera_id].deviceId;
                            // 获取用户选择的摄像头视频流
                            navigator.mediaDevices.getUserMedia({
                                video: {
                                    deviceId: selectedDeviceId
                                }
                            })
                                .then(function (stream) {
                                    // 建立WebSocket连接
                                    ws = new WebSocket('ws://127.0.0.1:8000/ws/realtime/' + SET_ID + '/');

                                    // 当WebSocket连接打开时
                                    ws.onopen = function () {
                                        console.log('WebSocket连接已打开。');

                                        // 每次摄像头画面帧更新时
                                        var video = document.createElement('video');
                                        video.srcObject = stream;
                                        video.play();

                                        var canvas = document.createElement('canvas');
                                        var ctx = canvas.getContext('2d');
                                        // 在视频流加载后获取视频的宽高并应用于canvas
                                        video.addEventListener('loadedmetadata', function () {
                                            canvas.width = video.videoWidth;
                                            canvas.height = video.videoHeight;
                                        });
                                        setInterval(function () {
                                            ctx.drawImage(video, 0, 0, canvas.width, canvas.height);
                                            var imageData = canvas.toDataURL('image/jpeg', 0.8); // 将画面转换为JPEG格式
                                            ws.send(imageData); // 发送画面数据到服务器
                                        }, 1000 / 15); // 以每秒15帧的速度发送画面数据
                                    };

                                    // 当WebSocket连接遇到错误时
                                    ws.onerror = function (error) {
                                        console.error('WebSocket错误：', error);
                                    };

                                    ws.onmessage = function (event) {
                                        if (typeof event.data === 'string') {
                                            // 接收字符数据
                                            DATA_TEXT = JSON.parse(event.data);
                                            if ('name' in DATA_TEXT) {
                                                const detect_name = DATA_TEXT['name']
                                                if (detect_name in detected_list) {
                                                    detected_list[detect_name] += 1
                                                } else {
                                                    detected_list[detect_name] = 1
                                                }
                                            } else {
                                                DETECTED_NOW = DATA_TEXT
                                            }

                                        } else if (event.data instanceof Blob) {
                                            // 接收到的是二进制数据
                                            var binaryData = event.data;
                                            const blob = new Blob([binaryData], {type: 'image/jpeg'});
                                            const imageUrl = URL.createObjectURL(blob);
                                            $("#pre_camera_img").attr('src', imageUrl);
                                        } else {
                                            // 其他情况，不支持的数据类型
                                            console.error('Unsupported data type');
                                        }

                                    };

                                    // 处理WebSocket连接关闭事件
                                    ws.onclose = function (event) {
                                        console.log('WebSocket closed');
                                    };
                                })
                                .catch(function (error) {
                                    console.error('获取用户选择的摄像头视频流失败：', error);
                                });
                        } else {
                            console.error('无效的设备编号。');
                        }

                    })
                    .catch(function (error) {
                        console.error('获取视频设备列表失败：', error);
                    });
            })

        }

        function BindStopDetect() {
            $("#btn_stop_detect").click(function () {
                ws.close();
                START_REFRESH = 0
                $("#btn_go_detect").hide()
                $("#btn_stop_detect").hide()
                $("#btn_reload").show()
                navigator.mediaDevices.getUserMedia({video: false})
                clearInterval(IntervalId)
            })
        }

        function BindDeleteSet() {
            $("#btn_delete_set").click(function () {
                $("#deleteSetModal").modal('show');
            })
        }

        function BindInDeleteSet() {
            $("#btn_in_delete_set").click(function () {
                $.ajax({
                    url: '/yolo/set/{{ detect_set.id }}/delete/',
                    type: 'get',
                    data: {},
                    dataType: "JSON",
                    success: function (res) {
                        if (res.status) {
                            alert("删除成功!")
                            location.href = '/yolo/main/'
                        } else {
                            alert("好像出现了什么问题？")
                        }
                    }
                })
            })
        }

        function BindReload(){
            $("#btn_reload").click(function (){
                location.reload()
            })
        }

    </script>
{% endblock %}